<ng-container [formGroup]="form">
  <!-- <span>{{ ctrl | json }}</span> -->
  <ng-container [ngSwitch]="ctrl.controlType">
    <ng-container *ngSwitchCase="'textbox'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <input class="form-control holo" [id]="ctrl.key" [type]="ctrl.type" [placeholder]="ctrl.placeholder" [formControlName]="ctrl.key"
        (change)="checkValue($event)" />
    </ng-container>
    
    <ng-container *ngSwitchCase="'dropdown'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <select class="form-control" [id]="ctrl.key" [formControlName]="ctrl.key" (change)="checkValue($event.target.value)">
        <option value="">{{ctrl.placeholder}}</option>
        <option *ngFor="let opt of ctrl.options" [value]="opt.key">{{opt.value}}</option>
      </select>
    </ng-container>

    <ng-container *ngSwitchCase="'radio'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <div class="maxl">
        <ng-container *ngFor="let opt of ctrl.options">
          <label class="radio inline">
            <input type="radio" [id]="ctrl.key" [formControlName]="ctrl.key" [value]="opt.value">
            <span> {{opt.key}} </span>
          </label>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'file'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ctrl.placeholder}}" [value]="ctrl.value">
        <div class="input-group-prepend">
          <input type="file" style="display: none;" [id]="ctrl.key" class="form-control" [formControlName]="ctrl.key" (change)="onFileSelected($event)"
            #fileInput>
          <button type="button" class="btn btn-outline-primary btn-md" (click)="fileInput.click()">Choose File</button>
        </div>
      </div>
    </ng-container>

    <!-- List -->
    <ng-container *ngSwitchCase="'list'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}<button type="button" class="btn btn-xs btn-default" (click)="addListItem(i)">&nbsp;+&nbsp;</button></label>
      <div [formArrayName]="ctrl.key" *ngFor="let item of form.controls[ctrl.key].controls; let i = index">
        <input class="form-control" [type]="ctrl.type" id="{{i}}" formControlName="{{i}}" [placeholder]="ctrl.placeholder" (change)="checkValue($event)"
        /><button type="button" class="btn btn-xs btn-default" (click)="removeListItem(i)">&nbsp;-&nbsp;</button>
      </div>

    </ng-container>

    <!-- Table -->
    <ng-container *ngSwitchCase="'table'">

      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <button type="button" class="btn btn-xs btn-default" (click)="addChildTableRow()">&nbsp;+&nbsp;</button>
      <!-- Tabular format -->
      <div class="divTable" [formArrayName]="ctrl.key" *ngIf="ctrl.viewType === 'table'">
        <div class="divTableBody">
          <div class="divTableRow" *ngFor="let row of form.controls[ctrl.key].controls; let i = index" [formGroupName]="i">
            <div class="divTableCell" *ngFor="let item of ctrl.schema[0]; let index = index">
              <app-control [ctrl]="item" [form]="row" [showlabel]="(i==0)"></app-control>
            </div>
            <div class="divTableCell" style="vertical-align: bottom">
              <button type="button" class="btn btn-xs btn-default" (click)="removeChildTableRow(i)">&nbsp;-&nbsp;</button>
            </div>
          </div>
          <!-- <div class="divTableRow">
            <div class="divTableCell">
              <button type="button" class="btn btn-xs btn-default" (click)="addChildTableRow()">&nbsp;+&nbsp;</button>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Form format -->
      <div class="col-md-12 px-0" [formArrayName]="ctrl.key" *ngIf="ctrl.viewType === 'form'">
        <ng-container *ngFor="let row of form.controls[ctrl.key].controls; let i = index" [formGroupName]="i">
          <ng-container *ngFor="let line of ctrl.schema">
            <div class="row">
              <ng-container *ngFor="let item of line">
                <app-control [ctrl]="item" [form]="form.controls[ctrl.key].controls[i]" showlabel="true" class="form-group col-md-{{item.width}}"></app-control>
              </ng-container>
            </div>
          </ng-container>
          <div>
              <button type="button" class="btn btn-xs btn-default" (click)="removeChildTableRow(i)">&nbsp;-&nbsp;</button>
          </div>
        </ng-container>
      </div>

    </ng-container>

    <!-- Form -->
    <ng-container *ngSwitchCase="'form'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <div class="col-md-12 px-0">
        <ng-container *ngFor="let row of ctrl.schema">
          <div class="row">
            <ng-container *ngFor="let child of row">
              <app-control [ctrl]="child" [form]="form.controls[ctrl.key]" showlabel="true" class="form-group col-md-{{child.width}}"></app-control>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </ng-container>

  <div class="errorMessage" *ngIf="form.controls[ctrl.key].touched && !form.controls[ctrl.key].valid">{{ctrl.label}} is required</div>
</ng-container>