<ng-container [formGroup]="form">
    <!-- <span>{{ ctrl | json }}</span> -->
  <ng-container [ngSwitch]="ctrl.controlType">
    <ng-container *ngSwitchCase="'textbox'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <input class="form-control" [id]="ctrl.key" [type]="ctrl.type" [placeholder]="ctrl.placeholder" [formControlName]="ctrl.key"
        (change)="checkValue($event)" />
    </ng-container>

    <ng-container *ngSwitchCase="'dropdown'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <select class="form-control" [id]="ctrl.key" [formControlName]="ctrl.key" (change)="checkValue($event.target.value)">
        <option value="">{{ctrl.placeholder}}</option>
        <option *ngFor="let opt of ctrl.options" [value]="opt.key">{{opt.value}}</option>
      </select>
    </ng-container>

    <ng-container *ngSwitchCase="'radio'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <div class="maxl">
        <ng-container *ngFor="let opt of ctrl.options">
          <label class="radio inline">
            <input type="radio" [id]="ctrl.key" [formControlName]="ctrl.key" [value]="opt.value">
            <span> {{opt.key}} </span>
          </label>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'file'">
      <label [attr.for]="ctrl.key" *ngIf="showlabel">{{ctrl.label}}</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ctrl.placeholder}}" [value]="ctrl.value">
        <div class="input-group-prepend">
          <input type="file" style="display: none;" [id]="ctrl.key" class="form-control" [formControlName]="ctrl.key" (change)="onFileSelected($event)"
            #fileInput>
          <button type="button" class="btn btn-outline-primary btn-md" (click)="fileInput.click()">Choose File</button>
        </div>
      </div>
    </ng-container>

    <!-- Table -->
    <ng-container *ngSwitchCase="'table'">
        <div class="input-group">
          <div class="divTable" [formArrayName]="ctrl.key">
            <div class="divTableBody">
              <div class="divTableRow" *ngFor="let row of ctrl.schema; let i = index" [formGroupName]="i">
                <div class="divTableCell" *ngFor="let item of row; let index = index">
                  <app-control [ctrl]="item" [form]="form.controls[ctrl.key].controls[i]" [showlabel]="(i==0)"></app-control>
                </div>
                <div class="divTableCell" style="vertical-align: bottom">
                  <button type="button" class="btn btn-xs btn-default" (click)="removeChildTableRow(i)">&nbsp;-&nbsp;</button>
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">
                  <button type="button" class="btn btn-xs btn-default" (click)="addChildTableRow()">&nbsp;+&nbsp;</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </ng-container>

  </ng-container>

  <!-- Child Form -->
  <ng-container *ngIf="ctrl.childForm && (controlValue == ctrl.showChild.onValue || ctrl.showChild.always == true)">
    <div class="col-md-12 px-0">
      <div class="row">
        <ng-container *ngFor="let child of ctrl.childForm.value">
          <app-control [ctrl]="child" [form]="form.controls[ctrl.childForm.key]" showlabel="true" class="form-group col-md-{{child.width}}"></app-control>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <!-- Child Table -->
  <ng-container *ngIf="ctrl.childTable && (controlValue == ctrl.showChild.onValue || ctrl.showChild.always == true)">
    <div class="col-md-12 px-0">
      <div class="divTable" [formArrayName]="ctrl.childTable.key">
        <div class="divTableBody">
          <div class="divTableRow" *ngFor="let row of ctrl.childTable.value; let i = index" [formGroupName]="i">
            <div class="divTableCell" *ngFor="let key of getKeys(row); let index = index">
              <app-control [ctrl]="row[key]" [form]="form.controls[ctrl.childTable.key].controls[i]" [showlabel]="(i==0)"></app-control>
            </div>
            <div class="divTableCell">
              <button type="button" class="btn btn-xs btn-default" (click)="removeChildTableRow(i)">&nbsp;-&nbsp;</button>
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">
              <button type="button" class="btn btn-xs btn-default" (click)="addChildTableRow()">&nbsp;+&nbsp;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="errorMessage" *ngIf="enabled && !isValid">{{ctrl.label}} is required</div>
</ng-container>