<div class="container">
    <div class="col-md-12 px-0">
        <h4 class="mb-4">New Document</h4>
        <hr class="mb-4">
        <div class="form-group row">
            <label for="application" class="col-sm-2 col-form-label">Application</label>
            <div class="col-sm-4">
                <select class="custom-select d-block w-100" id="drpApp" (change)="onAppChange($event)">
                    <option value="">Select...</option>
                    <option value="Contracts">Contracts</option>
                    <option value="Payments">Payments</option>
                    <option value="Designs">Designs</option>
                </select>
            </div>
        </div>
        <hr class="mb-4">
        <form novalidate (ngSubmit)="onSubmit(metadata)" [formGroup]="metadata" *ngIf="appName">
            <div class="col-md-8 order-md-1  px-0">
                <div class="row">
                    <div class="form-group col-md-10 mb-3">
                        <label for="contractNo">Contract #</label>
                        <input type="text" class="form-control" id="contractNo" placeholder="Enter Contract #" formControlName="contractNo">
                        <div class="invalid-feedback">
                            Enter a valid Contract #.
                        </div>
                    </div>
                    <div class="form-group col-md-10 mb-3">
                        <label for="fmsRegNo">FMS Registration #</label>
                        <input type="text" class="form-control" id="fmsRegNo" placeholder="Enter FMS Registration #" formControlName="fmsRegNo">
                        <div class="invalid-feedback">
                            Enter a valid FMS Registration #.
                        </div>
                    </div>
                    <div class="form-group col-md-5 mb-3">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control" id="startDate" placeholder="Enter Contract Start Date" formControlName="startDate">
                        <div class="invalid-feedback">
                            Enter a valid Contract Start Date.
                        </div>
                    </div>
                    <div class="form-group col-md-5 mb-3">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control" id="endDate" placeholder="Enter Contract End Date" formControlName="endDate">
                        <div class="invalid-feedback">
                            Enter a valid Contract End Date.
                        </div>
                    </div>

                    <div class="form-group col-md-8 mb-3">
                        <label for="document">Document</label>

                        <div class="input-group">

                            <input type="text" class="form-control" id="document" placeholder="Document Name" formControlName="document">
                            <div class="input-group-prepend">
                                <input type="file" style="display: none;" class="form-control" id="document" (change)="onFileSelected($event)" #fileInput>
                                <button type="button" class="btn btn-outline-primary btn-md" (click)="fileInput.click()">Choose File</button>
                            </div>
                        </div>

                        <div class="invalid-feedback">
                            Enter a valid Contract End Date.
                        </div>
                    </div>


                </div>
            </div>
            <hr class="mb-4">
            {{ metadata.value | json }}
            <button class="btn btn-primary btn-md" type="submit" [disabled]="metadata.invalid">Upload</button>
            <div class="col-md-8 order-md-1  px-0">
                <div class="row">

                </div>
            </div>
        </form>

    </div>
</div>

<!-- <form novalidate (ngSubmit)="onSubmit(metadata)" [formGroup]="metadata">
    <div>
        <label>
            <span>Full name</span>
            <input type="text" class="input" formControlName="appName">
        </label>
        <label>
            <span>Event title</span>
            <input type="text" class="input" formControlName="contractNumber">
        </label>
        <label>
            <span>Event location</span>
            <input type="text" class="input" formControlName="fmsDocID">
        </label>
        <label>
            <span>Event location</span>
            <input type="text" class="input" formControlName="document">
        </label>
        <label>
            <span>Event location</span>
            <input type="text" class="input" formControlName="startDate">
        </label>
        <label>
            <span>Event location</span>
            <input type="text" class="input" formControlName="endDate">
        </label>
        {{ metadata.value | json }}
    </div>
    <div>
        <button type="submit" [disabled]="metadata.invalid">
            Submit
        </button>
    </div>
</form> -->