<div class="container">
    <div class="col-md-12 px-0 pb-5">
        <h4>New Document</h4>
        <hr class="mb-4">
        <div class="form-group row">
            <label for="application" class="col-sm-2 col-form-label">Application</label>
            <div class="col-sm-4">
                <select class="custom-select d-block w-100" id="drpApp" (change)="onAppChange($event)">
                    <option value="">Select...</option>
                    <option value="contracts">Contracts</option>
                    <option value="payments">Payments</option>
                    <option value="designs">Designs</option>
                    <option value="audio">Audio</option>
                    <option value="video">Video</option>
                </select>
            </div>
        </div>
        <hr class="mb-4">
        <!-- <form novalidate (ngSubmit)="onSubmit(metadata)" [formGroup]="metadata" *ngIf="appName">
            <div class="col-md-8 order-md-1 px-0">
                <div class="row">
                    <div class="form-group col-md-10 mb-3">
                        <label for="appKey">AppKey #</label>
                        <input type="text" class="form-control" id="appKey" placeholder="Enter app uniqueid for the entity" formControlName="appKey">
                        <div class="invalid-feedback">
                            Enter a uniqueid for the entity.
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="category">Category</label>
                        <select class="custom-select d-block w-100" id="category" formControlName="category">
                            <option value="">Select...</option>
                            <option value="Proposal">Proposal</option>
                            <option value="Bids">Bids</option>
                            <option value="Award">Awards</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="subCategory">Sub-Category</label>
                        <select class="custom-select d-block w-100" id="subCategory" formControlName="subCategory">
                            <option value="">Select...</option>
                            <option value="ChangeOrder">Change Orders</option>
                            <option value="Supporting">Supporting</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="contractNo">Contract #</label>
                        <input type="text" class="form-control" id="contractNo" placeholder="Enter Contract #" formControlName="contractNo">
                        <div class="invalid-feedback">
                            Enter a valid Contract #.
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="fmsRegNo">FMS Registration #</label>
                        <input type="text" class="form-control" id="fmsRegNo" placeholder="Enter FMS Registration #" formControlName="fmsRegNo">
                        <div class="invalid-feedback">
                            Enter a valid FMS Registration #.
                        </div>
                    </div>
                    <div class="form-group col-md-5 mb-3">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control" id="startDate" placeholder="Enter Contract Start Date" formControlName="startDate">
                        <div class="invalid-feedback">
                            Enter a valid Contract Start Date.
                        </div>
                    </div>
                    <div class="form-group col-md-5 mb-3">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control" id="endDate" placeholder="Enter Contract End Date" formControlName="endDate">
                        <div class="invalid-feedback">
                            Enter a valid Contract End Date.
                        </div>
                    </div>

                    <div class="form-group col-md-8 mb-3">
                        <label for="document">Document</label>

                        <div class="input-group">

                            <input type="text" class="form-control" id="document" placeholder="Document Name" formControlName="docName">
                            <div class="input-group-prepend">
                                <input type="file" style="display: none;" class="form-control" id="document" (change)="onFileSelected($event)" #fileInput>
                                <button type="button" class="btn btn-outline-primary btn-md" (click)="fileInput.click()">Choose File</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <hr class="mb-4">
            <div class="col-md-12 px-0">
                {{ metadata.value | json }}
            </div>
            <button class="btn btn-primary btn-md" type="submit" [disabled]="metadata.invalid">Upload</button>
            <button class="btn btn-secondary-light btn-md ml-2" type="button" [routerLink]="['/search']">Cancel</button>
            {{ progress || '' }}
            <div class="mt-3" *ngIf="success">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> Your document is saved successfully!!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

        </form> -->

        <app-doc-form [appName]="appName"></app-doc-form>
    </div>
</div>